# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\tugas_project_pbo-Zikri-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
